* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f6f8f9;
}

.header {
    background-color: white;
}

.logo {
    margin-left: 20px;
    width: 50px;
    vertical-align: middle;
}

.title {
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    font-size: 36px;
    vertical-align: middle;
    padding-bottom: 10px;
}

.conteiner {
    background-color: white;
    border-radius: 5px 5px 0px 0px;
    height: 50px;
    width: 60%;
    margin: 0 auto;
}

.back-white {
    margin-top: 40px;
    margin-left: 60px;
    padding-top: 11px;
}

.button-task {
    background-color: rgb(69 171 234);
    color: white;
    border: white;
    width: 100px;
    border-radius: 5px;
    height: 30px;
}
.button-section {
    background-color: white;
    color: rgb(197 203 208);
    border: solid 2px  rgb(197 203 208);
    width: 100px;
    border-radius: 5px;
    height: 30px;
}
#row {
    height: 12px;
    border:rgb(197 203 208) ;
}
.duconteiner {
    background-color: white;
    height: 450px;
    margin: 0 auto;
    border-radius: 0px 0px 5px 5px;
    padding: 60px;
    padding-top: 30px;
}
ul {
    list-style-type: none;
}
.big-title  {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;

}
.positive {
    border: solid 1px #6bc4ae;
    border-radius: 50%;
    width: 19px;
    height: 19px;
    color: #6bc4ae; 
    display: inline-block;
    margin-right: 10px;
    text-align: center; 
    line-height: 20px;
    font-size:small ;
}
.negative {
    border: solid 1px red;
    border-radius: 50%;
    width: 19px;
    height: 19px;
    color: red;
    display: inline-block;
    margin-right: 10px;
    text-align: center; 
    line-height: 16px;
    font-size: small;
}
.space {
    margin-bottom: 20px;
}
.element {
    margin: 10px;
}
#arrow {
    font-size: small;
    display: inline-block;
    margin-right: 8px;
}